#Directory, Libraries and Data

In [1]:
%cd /content/drive/MyDrive/Business Analyst course/Segmentation/RFM

/content/drive/MyDrive/Business Analyst course/Segmentation/RFM

In [2]:
#import libraries
import pandas as pd
from datetime import timedelta
import matplotlib.pyplot as plt

In [3]:
#Data
data = pd.read_csv("online_shoppers.csv",
                   encoding = "ISO-8859-1").dropna()
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

#Data Preparation

In [4]:
#Creating Sales column
data['sales'] = data['Quantity'] * data['UnitPrice']
data.head(1)

  InvoiceNo StockCode  ...         Country  sales
0    536365    85123A  ...  United Kingdom   15.3

[1 rows x 9 columns]

In [5]:
#Dates - Transform Date variable
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

#Get last date available
snapshot_date = data['InvoiceDate'].max() + timedelta(days = 1)
snapshot_date

Timestamp('2011-12-10 12:50:00')

In [6]:
#Aggregate on Customer Level
df = data.groupby(['CustomerID']).agg({
    'InvoiceDate': lambda x: (snapshot_date - x.max()).days,
    'InvoiceNo': 'count',
    'sales': 'sum'
})
df.head()

            InvoiceDate  InvoiceNo    sales
CustomerID
12346.0             326          2     0.00
12347.0               2        182  4310.00
12348.0              75         31  1797.24
12349.0              19         73  1757.55
12350.0             310         17   334.40

In [7]:
#Create basket / Monetary variable
df['monetary'] = df.sales / df.InvoiceNo
df.head(2)

            InvoiceDate  InvoiceNo   sales   monetary
CustomerID
12346.0             326          2     0.0   0.000000
12347.0               2        182  4310.0  23.681319

In [9]:
#Dropping Sales Variable
df = df.drop(columns = "sales")
df.head(0)

Empty DataFrame
Columns: [InvoiceDate, InvoiceNo, monetary]
Index: []

In [10]:
#Changing Variables' names
df.rename(columns = {'InvoiceDate': 'Recency',
                     'InvoiceNo': 'Frequency'}, inplace = True)
df.head(1)

            Recency  Frequency  monetary
CustomerID
12346.0         326          2       0.0

#RFM Preparation

In [14]:
#Create Frequency Groups
df['F'] = pd.qcut(x = df['Frequency'], q = 4, labels = range(1, 5, 1))
df['M'] = pd.qcut(x = df['monetary'], q = 4, labels = range(1, 5, 1))
df['R'] = pd.qcut(x = df['Recency'], q = 4, labels = range(4, 0, -1))
df.head(5)

            Recency  Frequency   monetary  F  M  R
CustomerID
12346.0         326          2   0.000000  1  1  1
12347.0           2        182  23.681319  4  4  4
12348.0          75         31  57.975484  2  4  2
12349.0          19         73  24.076027  3  4  3
12350.0         310         17  19.670588  1  3  1

In [15]:
#RFM Score
df['RFM'] = df[['R', 'F', 'M']].sum(axis = 1)
df.head(2)

            Recency  Frequency   monetary  F  M  R  RFM
CustomerID
12346.0         326          2   0.000000  1  1  1    3
12347.0           2        182  23.681319  4  4  4   12

In [16]:
#Create the RFM function
def rfm_segment(df):
  if df['RFM'] >= 11:
    return 'SuperStar'
  elif ((df['RFM'] >=8) and (df['RFM'] < 11)):
    return 'Future Champion'
  elif ((df['RFM'] >=6) and (df['RFM'] < 8)):
    return 'High Potential'
  else:
    return 'Low Relevance'

#RFM

In [18]:
#Apply RFM function
df['RFM_level'] = df.apply(rfm_segment, axis = 1)
df.tail()

            Recency  Frequency   monetary  F  M  R  RFM        RFM_level
CustomerID
18280.0         278         10  18.060000  1  3  1    5    Low Relevance
18281.0         181          7  11.545714  1  2  1    4    Low Relevance
18282.0           8         13  13.584615  1  2  4    7   High Potential
18283.0           4        756   2.771005  4  1  4    9  Future Champion
18287.0          43         70  26.246857  3  4  3   10  Future Champion

In [20]:
#Looking into the segments
df.groupby('RFM_level').agg({
    'Recency': 'mean',
    'Frequency': 'mean',
    'monetary': ['mean', 'count']
})

                    Recency   Frequency   monetary
                       mean        mean       mean count
RFM_level
Future Champion   32.007919  135.835973  30.169670  1768
High Potential   118.708869   39.213947  38.033024  1477
Low Relevance    221.483400   22.811421  -0.586430   753
SuperStar          9.973262  244.852941  45.483949   374